<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PublicKey</key>
	<string>e4c6dfd6c4bb0073e0e21ffc1c210ae3</string>
	<key>PrivateKey</key>
	<string>edf7bb90222241f1c8b7cd2c2ffdc83d5afa17f7</string>
</dict>
</plist>
